PINECONE_API_KEY="<your-pinecone-key>"
PINECONE_ENVIRONMENT_NAME="<your-pinecone-environment-name>"
REPLICATE_API_TOKEN="<your-replicate-key>"
PINECONE_ENVIRONMENT="<your-pinecone-environment>"
PINECONE_INDEX_NAME="<your-pinecone-index-name>"


